@import "./../../index.scss";

.registered_address {
    border: 1px solid $color-primary-light;
    background-color: rgba($color-secondary, 0.6);
    padding: 1rem 0.5rem;
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
}

.registered_address p {
    font-weight: bold;
    margin-top: 0;
}

.registered_address_date {
    margin-bottom: 0;
}

.registered_address button {
    background: transparent;
    border: none;
}

.registered_address button img {
    width: 15x;
    height: 15px;
}
