@import "./../../index.scss";

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.container h1 {
    font-size: 1.7rem;
    text-align: center;
    font-family: "Aktiv Grotesk","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.container h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

.line {
    height: 3px;
    width: 100%;
    background-color: $color-primary-light;
    opacity: 0.3;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
