@import "./../../index.scss";

.search {
    &__bar {
        height: 35px;
        border: 1px solid $color-primary-light;
        width: 100%;
        position: relative;

        button {
            background: none;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
        }
        
        button img {
            width: 12px;
            height: 12px;
        }
        
        input {
            background: transparent;
            border: none;
            color: $color-primary-light;
            position: absolute;
            padding-left: 1rem;
            font-weight: bold;
            height: 35px;
            width: calc(100% - 55px);
        }
        
        input::placeholder {
            color: $color-primary-light;
        }
    }
}

.error_message {
    margin-top: 0.5rem;
    text-align: right;
    font-weight: bold;
}
